# dependencies
node_modules

# build output
dist
dist-ssr
*.tsbuildinfo

# claude
.claude

# env
.env
.env.local

# editor
.vscode/*
!.vscode/extensions.json
*.local

# logs
*.log
npm-debug.log*

# os
.DS_Store
